@page "/"
        @inject IConfiguration configuration 
@using WASM_Reatime_D3.Contracts

@using Microsoft.AspNetCore.SignalR.Client
@using WASM_Reatime_D3.Models
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code{
    private HubConnection _hubConnection { get; set; } = default!;
    [Inject]
    public ILogRepository Repo { get; set; } = default!;
    protected async override Task OnInitializedAsync()
    {
        await StartHubConnection();
        await Repo.CallChartEndpoint();
    
    }
    private async Task StartHubConnection()
    {
        #if DEBUG

        string hubUrl = configuration.GetValue<string>("logHubUrl.Dev") ?? throw new ArgumentNullException(nameof(hubUrl));
        #else
        string hubUrl = configuration.GetValue<string>("logHubUrl") ?? throw new ArgumentNullException(nameof(hubUrl));

        #endif
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(hubUrl)
            .Build();
        if (_hubConnection.State == HubConnectionState.Connected)
            Console.WriteLine("connection started");


        _hubConnection.On<Tbllog>("refreshLog", (data) =>
        {
            Console.WriteLine(data.Value);

        });

        await _hubConnection.StartAsync();
    }

}